body {
    margin: 0px;
    background: linear-gradient(to right, rgba(112, 120, 133, 0.8), rgba(96, 105, 121, 0.5), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(../img/sign.jpg) no-repeat;
}

main {
    margin-top: 5%;
}

.form {
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1em;
    font-weight: lighter;
    color: white;
    background: black;
    margin-top: 5%;
}

.sign-msg {
    font-weight: lighter;
    font-size: 1.1em;
    margin-left: 15px;
    text-align: center;
}

.sign-msg .mart-label {
    color: teal;
    font-size: 1.3em;
}

.sign-msg label {
    font-style: italic;
}

.forgot-pass {
    font-size: 0.7em;
    color: teal;
    text-decoration: none;
    float: right;
    padding-right: 10%;
}

.signup-btn {
    float: right;
    border-style: 1px;
    border-width: 1px;
    border-radius: 5px;
    border-color: teal;
    width: 150px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: black;
    color: teal;
}

.submit-btn {
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: teal;
    width: 120px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: black;
    color: teal;
}

.login-input {
    display: block;
    min-height: 40px;
    width: 90%;
    font-size: 0.8em;
    margin: 10px 0;
    border-style: ridge;
    border-width: 1px;
    background: black;
    color: white;
    padding: 2px;
}

.sign-option {
    font-size: 0.8em;
    color: teal;
    text-decoration: none;
    float: left;
    padding-right: 10%;
}